name: Generate Fire Snake

on:
  schedule:
    # Run every day at midnight
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          # The palette is set to a fire gradient: dark background -> yellow -> orange -> red -> deep red
          outputs: |
            profile-snake/snake-fire.svg?palette=github-dark&color_snake=ff5500&color_dots=#161b22,#fdcb58,#e36209,#da2e00,#800000

      - name: Push to the repository
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: main
          build_dir: profile-snake
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
